body {
  background-image: url('/static/imagens/imagemFundo.jpg');
  background-blend-mode: multiply;
  background-color: white;
  color:#08084d;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  margin-top: 3%;
  margin-left: 15%; 
  margin-right: 15%; 
  margin-bottom: 1%; 
  position:relative;
}

body canvas{
  margin-left: 30%; 
  margin-right: 30%; 
}

a{
  background-color:transparent;
  color:#272262;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover{
  color: orangered;
}

button{
  background-color: white;
  border-color:  #11117f;
  color:#08084d;
  padding: 2%;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color:  #11117f;
  color:white;
}

hr{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardo {
  background-color: white;
  padding-top: 5%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 5%;
  border-radius: 4%;
  width: 28%;
  opacity:80%;
  box-shadow: 0px 0px 3px 1px #08084d;
  text-align: center;
}

.cardo3 {
  background-color: white;
  padding-top: 5%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 5%;
  border-radius: 4%;
  width: 40%;
  opacity:80%;
  box-shadow: 0px 0px 3px 1px #08084d;
  text-align: center;
}

.cardo2 {
  background-color: white;
  padding-top: 5%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 5%;
  opacity: 80%;
  border-radius: 4%;
  box-shadow: 0px 0px 3px 1px #08084d;
  text-align: center;
}

.label-float{
  position: relative;
  padding-top: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input{
  width: 100%;
  padding: 2%;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid  #11117f;
  background-color: transparent;
  outline: none;
  transition: all .3s ease-out;
  border-radius: 0;
}

.label-float select{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid  #11117f;
  background-color: transparent;
  outline: none;
  transition: all .3s ease-out;
  border-radius: 0;
}

.label-float input:focus{
  border-bottom: 2px solid #11117f;
}

.label-float label{
  color: #08084d;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5%;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  margin-top: 0;
  color: #08084d
}

.erro{
  color:red;
  text-align: justify;
}

#botaosair{
  position: absolute;
  top:5%;
  right:5%;
  padding: 5px;
  border-radius: 4px;
  background-color: orangered;
  border-color:  #11117f;
  color: #08084d;
}

#botaosair:hover{
  background-color: #11117f;
  color:white;
}

#msgError{
  text-align: center;
  color:red;
  background-color: #ffbbbb;
  padding: 3%;
  border-radius: 4px;
}